.Header
    display: flex
    justify-content: space-between
    align-items: center
    width: 70%
    margin-top: 0
    padding-top: 0
    margin-bottom: 30px
    font-size: 20px
    font-weight: 500
    @media screen and ( max-width: $layout-breakpoint-small )
        font-size: 10px
        width: 100%
    &_nav
        display: flex
        align-items: center
        gap: 15px

        a
            text-decoration: none
            color: white
        span
            cursor: pointer
        &_link_GithubLogo
            display: flex
            align-items: center
        &_GithubLogo
            width: 50px
            @media screen and ( max-width: $layout-breakpoint-small )
                width: 25px
