.Header
    display: flex
    justify-content: space-between
    align-items: center
    width: 70%
    margin-top: 0
    padding-top: 0
    margin-bottom: 30px
    font-size: 20px
    font-weight: 500
    margin-top: 5px
    @media screen and ( max-width: $layout-breakpoint-small )
        font-size: 10px
        width: 100%
    h1
        margin: 0
        padding: 0
        font-size: 25px
        font-weight: 700
        @media screen and ( max-width: $layout-breakpoint-small )
            font-size: 15px
    &_nav
        display: flex
        align-items: center
        gap: 15px

        a
            text-decoration: none
            color: white
        span
            cursor: pointer
        &_link_GithubLogo
            display: flex
            align-items: center
        &_GithubLogo
            width: 50px
            @media screen and ( max-width: $layout-breakpoint-small )
                width: 25px
    .active
        display: flex
    &_langage
        position: absolute
        left: 50%
        transform: translateX(-50%)
        flex-direction: column
        display: none
        width: 60px
        button
            all: unset
            cursor: pointer
            @media screen and ( max-width: $layout-breakpoint-small )
                font-size: 1.5rem
        &_container
            position: relative
            #langage
                z-index: 9999
                all: unset
                width: 45px
                cursor: pointer
                &:hover

                img
                    width: 45px
