.Button_ModalProject
    position: relative
    display: flex
    background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%,#FFF, #FFF) border-box
    background-size: 200% 100%
    border-radius: 15px
    width: 500px
    height: 300px
    margin: auto auto 30px auto
    animation: HomeGradient 5s ease infinite
    border: 2px solid transparent
    padding: 1px
    cursor: pointer
    @media screen and ( max-width: $layout-breakpoint-small )
        width: 80%
        h3
            font-size: 0.8rem

    &_Background
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 14px
        margin: 0
        padding: 0.3px
        overflow: hidden
        img
            width: 500px
            min-height: 300px
    &_Title
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 2
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(10, 10, 10, 0.00) 42%, rgba(4, 4, 4, 0.60) 99.99%, rgba(0, 0, 0, 0.90) 100%)
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: center
        div
            p
                margin: 0
                padding: 0
    &_Hover
        position: absolute
        top: 0
        left: 0
        display: flex
        align-items: center
        justify-content: center
        background-color: rgba(0, 0, 0, 0.623)
        height: 100%
        width: 100%
        border-radius: 14px
        z-index: 3
        margin: 0
        padding: 0
        opacity: 0
        &:hover
            opacity: 100

@keyframes rotate-down
    from
        transform: rotate(360deg)
    to
        transform: rotate(180deg)

.ReactModal__Overlay
    opacity: 0
    transition: opacity 500ms ease-in-out

    &--after-open
        opacity: 1

    &--before-close
        opacity: 0

#modalcontent
    background-color: green
    img
        max-width: 100%
    .button_exit_modal
        cursor: pointer
        background: none
        border: none
.Modal
    &_portal_test
        background-color: green
    &_overlay_test
        position: fixed
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        inset: 0px
        background-color: rgba(255, 255, 255, 0.35)
    &_Header
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-bottom: 2rem
        &_TitleContainer
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: center
            h3
                margin: 0
                padding: 0
        &_LinksContainer
            gap: 15px
            &_WebLogo
                font-size: 2rem
                color: white
                &:hover
                    color: violet
            &_GithubLogo
                width: 2rem
            button
                height: fit-content
                &:hover
                    animation: rotate-down 0.4s ease-in-out forwards
                i
                    font-size: 2rem

        div
            display: flex
            align-items: flex-start
    &_Project
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-evenly
        &_ImgContainer
            display: flex
            width: 100%
            justify-content: center
            margin-bottom: 2rem
            img
                border-radius: 10px

    &_Logos
        display: flex
        width: fit-content
        flex-wrap: wrap
        flex-direction: column
        &_Container
            display: flex
            flex-direction: row
            gap: 10px
            width: fit-content
    &_logo
        height: 50px
        padding: 5px
        background-color: white
        border: 2px black solid
        border-radius: 10px
