.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 767.98px) {
  .Header {
    font-size: 10px;
    width: 100%;
  }
}
.Header_nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
.Header_nav a {
  text-decoration: none;
  color: white;
}
.Header_nav span {
  cursor: pointer;
}
.Header_nav_link_GithubLogo {
  display: flex;
  align-items: center;
}
.Header_nav_GithubLogo {
  width: 50px;
}
@media screen and (max-width: 767.98px) {
  .Header_nav_GithubLogo {
    width: 25px;
  }
}

.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.Home_Presentation_Container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home_Container {
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  background-size: 200% 100%;
  border-radius: 20px;
  width: 65%;
  height: -moz-fit-content;
  height: fit-content;
  animation: HomeGradient 5s ease infinite;
  border: 2px solid transparent;
}
@media screen and (max-width: 1150px) {
  .Home_Container {
    width: 90%;
  }
}
.Home_Presentation {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 767.98px) {
  .Home_Presentation {
    font-size: 0.8rem;
    flex-direction: column;
    align-items: center;
  }
}
.Home_Presentation h1 {
  font-weight: 200;
}
.Home_Presentation_Photo {
  width: 40%;
  height: 40%;
  margin-right: 30px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 66px #7b7b7b;
}
@media screen and (max-width: 767.98px) {
  .Home_Presentation_Photo {
    margin: 0;
    width: 80%;
  }
}
.Home_Presentation_Text {
  position: relative;
}
.Home_Language {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 1150px) {
  .Home_Language {
    flex-direction: column;
    justify-content: flex-start;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.Home_Language_pcontainer {
  display: flex;
  width: 40%;
  flex-grow: 1;
  margin: auto;
}
@media screen and (max-width: 1150px) {
  .Home_Language_pcontainer {
    display: flex;
    align-items: flex-start;
    background: none;
    flex-grow: 0;
    margin-left: 10px;
    width: auto;
  }
}
@media screen and (min-width: 1150px) and (max-width: 1315px) {
  .Home_Language_pcontainer {
    flex-direction: column;
    flex-grow: 0;
  }
}
@media screen and (max-width: 450px) {
  .Home_Language_pcontainer {
    flex-direction: column;
  }
}
.Home_Language_pcontainer_1 {
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
}
.Home_Language_pcontainer_2 {
  display: inline-flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 5px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767.98px) {
  .Home_Language_pcontainer_2 {
    width: 100%;
  }
}
.Home .Projects {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Home .Projects_Cards {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin-top: 20px;
  row-gap: 30px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media screen and (max-width: 767.98px) {
  .Home .Projects_Cards {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 30px;
  }
}

@keyframes HomeGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.mainContact, .ContactForm_submitted {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Form_container {
  width: 800px;
  height: 600px;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

button:active {
  scale: 0.95;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 20px;
}
.form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  font-size: 20px;
}
.form-group::-moz-placeholder {
  opacity: 0.5;
}
.form-group::placeholder {
  opacity: 0.5;
}
.form-group:focus {
  outline: none;
  border-color: #e81cff;
}
.form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 300px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
  font-size: 20px;
}
.form-group:focus {
  outline: none;
  border-color: #e81cff;
}

.form-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}
.form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.logo {
  padding-left: 25px;
  height: 50px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px black solid;
  border-radius: 10px;
}
@media screen and (max-width: 767.98px) {
  .logo {
    height: 2.5rem;
  }
}

.Button_ModalProject {
  all: unset;
  cursor: pointer;
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
}
@media screen and (max-width: 767.98px) {
  .Button_ModalProject {
    height: 250px;
    width: 100%;
  }
}
.Button_ModalProject:hover .Button_ModalProject_Hover {
  opacity: 100;
}
.Button_ModalProject div, .Button_ModalProject img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.Button_ModalProject img {
  z-index: 1;
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767.98px) {
  .Button_ModalProject img {
    min-height: 250px;
  }
}
.Button_ModalProject > div {
  height: 100%;
}
.Button_ModalProject_Title {
  z-index: 13;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.6) 99.99%, rgba(0, 0, 0, 0.9) 100%);
}
.Button_ModalProject_Title p {
  margin: 0 0 0.5rem 0;
  padding: 0;
}
.Button_ModalProject_Hover {
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.623);
  opacity: 0;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}

.Modal_overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.35);
  z-index: 98;
}
.Modal_ContentContainer {
  position: static;
  inset: 40px;
  border: 0px solid #ccc;
  background-color: #2e2e2e;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 20px;
  outline: none;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 90vh;
  padding: 20px;
  width: 80%;
  z-index: 99;
}
@media screen and (max-width: 767.98px) {
  .Modal_ContentContainer {
    width: 90%;
    border-radius: 10px;
  }
}
.Modal_Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}
@media screen and (max-width: 767.98px) {
  .Modal_Header {
    margin-bottom: 0.7rem;
  }
}
.Modal_Header_TitleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  font-size: 1.2rem;
}
@media screen and (max-width: 767.98px) {
  .Modal_Header_TitleContainer {
    font-size: 0.7rem;
  }
}
.Modal_Header_TitleContainer h3 {
  margin: 0;
  padding: 0;
}
.Modal_Header_LinksContainer {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767.98px) {
  .Modal_Header_LinksContainer {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
  }
}
.Modal_Header_LinksContainer_External {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 767.98px) {
  .Modal_Header_LinksContainer_External {
    gap: 15px;
  }
}
.Modal_Header_LinksContainer_External_WebLogo {
  color: white;
}
.Modal_Header_LinksContainer_External_WebLogo:hover {
  color: violet;
}
.Modal_Header_LinksContainer_ExitModal {
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
.Modal_Header_LinksContainer_ExitModal:hover {
  animation: rotate-down 0.4s ease-in-out forwards;
}
.Modal_Header_LinksContainer_External_WebLogo, .Modal_Header_LinksContainer_ExitModal i {
  font-size: 3rem;
}
@media screen and (max-width: 767.98px) {
  .Modal_Header_LinksContainer_External_WebLogo, .Modal_Header_LinksContainer_ExitModal i {
    font-size: 1.5rem;
  }
}
.Modal_Header_LinksContainer_External_GithubLogo {
  width: 3rem;
}
@media screen and (max-width: 767.98px) {
  .Modal_Header_LinksContainer_External_GithubLogo {
    width: 1.5rem;
  }
}
.Modal_Project_ImgContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 2rem;
  height: -moz-fit-content;
  height: fit-content;
}
.Modal_Project_ImgContainer img {
  max-width: 100%;
  max-height: 40vh;
  border-radius: 10px;
}
.Modal_Project_Info {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.Modal_Project_Info h4 {
  margin: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767.98px) {
  .Modal_Project_Info {
    flex-direction: column;
    gap: 10px;
  }
}
.Modal_Project_Info_Logos_Container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.Modal_Project_Info_Description, .Modal_Project_Info_Logos {
  background-color: rgba(5, 4, 4, 0.6901960784);
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #FFF, #FFF) border-box;
  background-size: 200% 100%;
  animation: HomeGradient 5s ease infinite;
  border: 2px solid transparent;
  max-width: 50%;
}
@media screen and (max-width: 767.98px) {
  .Modal_Project_Info_Description, .Modal_Project_Info_Logos {
    font-size: 0.7rem;
    max-width: 100%;
  }
}

@keyframes rotate-down {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.loader:before, .loader:after {
  content: "";
  position: absolute;
  top: 50;
  left: 50;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #fff;
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #fff;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #fff;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}
@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #fff;
    opacity: 1;
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  #root {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}/*# sourceMappingURL=index.css.map */