.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 767.98px) {
  .Header {
    font-size: 10px;
    width: 90%;
  }
}
.Header_nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
.Header_nav a {
  text-decoration: none;
  color: white;
}
.Header_nav_link_GithubLogo {
  display: flex;
  align-items: center;
}
.Header_nav_GithubLogo {
  width: 50px;
}
@media screen and (max-width: 767.98px) {
  .Header_nav_GithubLogo {
    width: 25px;
  }
}

.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.Home_Container {
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  background-size: 200% 100%;
  border-radius: 20px;
  width: 65%;
  animation: HomeGradient 5s ease infinite;
  border: 2px solid transparent;
}
@media screen and (max-width: 1150px) {
  .Home_Container {
    width: 90%;
  }
}
.Home_Presentation {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 767.98px) {
  .Home_Presentation {
    font-size: 0.8rem;
    flex-direction: column;
    align-items: center;
  }
}
.Home_Presentation h1 {
  font-weight: 200;
}
.Home_Presentation_Photo {
  width: 40%;
  height: 40%;
  margin-right: 30px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 66px #7b7b7b;
}
@media screen and (max-width: 767.98px) {
  .Home_Presentation_Photo {
    margin: 0;
    width: 80%;
  }
}
.Home_Language {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Home_Language_pcontainer {
  display: inline-flex;
  width: 40%;
  height: 60px;
  margin: 10px;
  background: rgb(33, 33, 33);
  background: linear-gradient(90deg, rgb(33, 33, 33) 0%, rgb(130, 130, 130) 50%, rgb(33, 33, 33) 100%);
}
@media screen and (max-width: 1150px) {
  .Home_Language_pcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    background: none;
  }
}
.Home_Language_pcontainer_1, .Home_Language_pcontainer_2 {
  display: inline-flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.Home_Language_pcontainer_1 {
  font-weight: bold;
}
.Home_Language_pcontainer_2 {
  margin: 0;
  padding: 5px;
  background: rgb(33, 33, 33);
  background: linear-gradient(90deg, rgb(33, 33, 33) 0%, rgb(130, 130, 130) 50%, rgb(33, 33, 33) 100%);
  gap: 20px;
}
@media screen and (max-width: 767.98px) {
  .Home_Language_pcontainer_2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
.Home_Language_pcontainer_2 img {
  padding: 0;
}

@keyframes HomeGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.mainContact, .ContactForm_submitted {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Form_container {
  width: 800px;
  height: 600px;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

button:active {
  scale: 0.95;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 20px;
}
.form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  font-size: 20px;
}
.form-group::-moz-placeholder {
  opacity: 0.5;
}
.form-group::placeholder {
  opacity: 0.5;
}
.form-group:focus {
  outline: none;
  border-color: #e81cff;
}
.form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 300px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
  font-size: 20px;
}
.form-group:focus {
  outline: none;
  border-color: #e81cff;
}

.form-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}
.form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.ProgressBar {
  box-sizing: border-box;
  width: 10rem;
  height: 2rem;
  border: solid 1px #5B5B5B;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}
.ProgressBarValue {
  box-sizing: border-box;
  height: 100%;
  border-radius: 4px;
}

.logo {
  padding-left: 25px;
  height: 40px;
}
@media screen and (max-width: 767.98px) {
  .logo {
    padding-left: 15px;
    height: 25px;
  }
}

.Cards {
  flex-wrap: wrap;
  margin-top: 20px;
  display: flex;
  width: 100%;
}
.Cards_Container {
  text-decoration: none;
  color: white;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #fff, #fff) border-box;
  background-size: 200% 100%;
  border-radius: 20px;
  width: 40%;
  margin: auto auto 30px auto;
  height: -moz-fit-content;
  height: fit-content;
  animation: HomeGradient 5s ease infinite;
  border: 2px solid transparent;
  padding: 10px;
}
@media screen and (max-width: 767.98px) {
  .Cards_Container {
    width: 80%;
  }
  .Cards_Container h3 {
    font-size: 0.8rem;
  }
}
.Cards_Container_Info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 175px;
}
@media screen and (max-width: 767.98px) {
  .Cards_Container_Info {
    flex-direction: column;
  }
}
.Cards_Container_Info_Image img {
  width: 80%;
  border-radius: 20px;
  max-height: 175px;
}
@media screen and (max-width: 767.98px) {
  .Cards_Container_Info_Image img {
    width: 40%;
    border-radius: 10px;
  }
}
.Cards_Container_Info_Image, .Cards_Container_Info_Description {
  flex-grow: 1;
  width: 30%;
}
@media screen and (max-width: 767.98px) {
  .Cards_Container_Info_Image, .Cards_Container_Info_Description {
    width: 100%;
  }
}
.Cards_Container_Info_Description {
  font-size: 0.7rem;
}
.Cards_Container_Info_Description_imgcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background: rgb(33, 33, 33);
  background: linear-gradient(90deg, rgb(33, 33, 33) 0%, rgb(130, 130, 130) 50%, rgb(33, 33, 33) 100%);
  margin-bottom: 10px;
}
.Cards_Container_Info_Description_imgcontainer img {
  padding: 5px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}/*# sourceMappingURL=index.css.map */