.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 767.98px) {
  .Header {
    font-size: 10px;
    width: 90%;
  }
}
.Header_nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
.Header_nav a {
  text-decoration: none;
  color: white;
}
.Header_nav span {
  cursor: pointer;
}
.Header_nav_link_GithubLogo {
  display: flex;
  align-items: center;
}
.Header_nav_GithubLogo {
  width: 50px;
}
@media screen and (max-width: 767.98px) {
  .Header_nav_GithubLogo {
    width: 25px;
  }
}

.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.Home_Presentation_Container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home_Container {
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  background-size: 200% 100%;
  border-radius: 20px;
  width: 65%;
  height: -moz-fit-content;
  height: fit-content;
  animation: HomeGradient 5s ease infinite;
  border: 2px solid transparent;
}
@media screen and (max-width: 1150px) {
  .Home_Container {
    width: 90%;
  }
}
.Home_Presentation {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 767.98px) {
  .Home_Presentation {
    font-size: 0.8rem;
    flex-direction: column;
    align-items: center;
  }
}
.Home_Presentation h1 {
  font-weight: 200;
}
.Home_Presentation_Photo {
  width: 40%;
  height: 40%;
  margin-right: 30px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 66px #7b7b7b;
}
@media screen and (max-width: 767.98px) {
  .Home_Presentation_Photo {
    margin: 0;
    width: 80%;
  }
}
.Home_Language {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Home_Language_pcontainer {
  display: inline-flex;
  width: 40%;
  height: 60px;
  margin: 10px;
}
@media screen and (max-width: 1150px) {
  .Home_Language_pcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    background: none;
  }
}
.Home_Language_pcontainer_1, .Home_Language_pcontainer_2 {
  display: inline-flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.Home_Language_pcontainer_1 {
  font-weight: bold;
}
.Home_Language_pcontainer_2 {
  margin: 0;
  padding: 5px;
  gap: 20px;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
@media screen and (max-width: 1150px) {
  .Home_Language_pcontainer_2 {
    background: rgb(33, 33, 33);
    background: linear-gradient(90deg, rgb(33, 33, 33) 0%, rgb(130, 130, 130) 50%, rgb(33, 33, 33) 100%);
  }
}
@media screen and (max-width: 767.98px) {
  .Home_Language_pcontainer_2 {
    width: 100%;
  }
}
@keyframes HomeGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.mainContact, .ContactForm_submitted {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Form_container {
  width: 800px;
  height: 600px;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

button:active {
  scale: 0.95;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 20px;
}
.form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  font-size: 20px;
}
.form-group::-moz-placeholder {
  opacity: 0.5;
}
.form-group::placeholder {
  opacity: 0.5;
}
.form-group:focus {
  outline: none;
  border-color: #e81cff;
}
.form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 300px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
  font-size: 20px;
}
.form-group:focus {
  outline: none;
  border-color: #e81cff;
}

.form-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}
.form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.logo {
  padding-left: 25px;
  height: 50px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px black solid;
  border-radius: 10px;
}
@media screen and (max-width: 767.98px) {
  .logo {
    padding-left: 15px;
    height: 25px;
  }
}

.Projects {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Projects_Cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin-top: 20px;
  gap: 15px;
}

.Button_ModalProject {
  position: relative;
  display: flex;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #FFF, #FFF) border-box;
  background-size: 200% 100%;
  border-radius: 15px;
  width: 500px;
  height: 300px;
  margin: auto auto 30px auto;
  animation: HomeGradient 5s ease infinite;
  border: 2px solid transparent;
  padding: 1px;
  cursor: pointer;
}
@media screen and (max-width: 767.98px) {
  .Button_ModalProject {
    width: 80%;
  }
  .Button_ModalProject h3 {
    font-size: 0.8rem;
  }
}
.Button_ModalProject_Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  margin: 0;
  padding: 0.3px;
  overflow: hidden;
}
.Button_ModalProject_Background img {
  width: 500px;
  min-height: 300px;
}
.Button_ModalProject_Title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.6) 99.99%, rgba(0, 0, 0, 0.9) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.Button_ModalProject_Title div p {
  margin: 0;
  padding: 0;
}
.Button_ModalProject_Hover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.623);
  height: 100%;
  width: 100%;
  border-radius: 14px;
  z-index: 3;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.Button_ModalProject_Hover:hover {
  opacity: 100;
}

@keyframes rotate-down {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}

#modalcontent {
  background-color: green;
}
#modalcontent img {
  max-width: 100%;
}
#modalcontent .button_exit_modal {
  cursor: pointer;
  background: none;
  border: none;
}

.Modal_portal_test {
  background-color: green;
}
.Modal_overlay_test {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.35);
}
.Modal_Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.Modal_Header_TitleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.Modal_Header_TitleContainer h3 {
  margin: 0;
  padding: 0;
}
.Modal_Header_LinksContainer {
  gap: 15px;
}
.Modal_Header_LinksContainer_WebLogo {
  font-size: 2rem;
  color: white;
}
.Modal_Header_LinksContainer_WebLogo:hover {
  color: violet;
}
.Modal_Header_LinksContainer_GithubLogo {
  width: 2rem;
}
.Modal_Header_LinksContainer button {
  height: -moz-fit-content;
  height: fit-content;
}
.Modal_Header_LinksContainer button:hover {
  animation: rotate-down 0.4s ease-in-out forwards;
}
.Modal_Header_LinksContainer button i {
  font-size: 2rem;
}
.Modal_Header div {
  display: flex;
  align-items: flex-start;
}
.Modal_Project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Modal_Project_ImgContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 2rem;
}
.Modal_Project_ImgContainer img {
  border-radius: 10px;
}
.Modal_Logos_Container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.Modal_logo {
  height: 50px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px black solid;
  border-radius: 10px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}/*# sourceMappingURL=index.css.map */