.Home
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 100%
    &_Presentation_Container
        min-height: 90vh
        display: flex
        justify-content: center
        align-items: center

    &_Container
        background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box
        background-size: 200% 100%
        border-radius: 20px
        width: 65%
        height: fit-content
        animation: HomeGradient 5s ease infinite
        border: 2px solid transparent
        @media screen and ( max-width: $layout-breakpoint-tablet-max )
            width: 90%
    &_Presentation
        padding: 20px
        display: flex
        align-items: center
        flex-direction: row
        @media screen and ( max-width: $layout-breakpoint-small )
            font-size: 0.8rem
            flex-direction: column
            align-items: center
        h1
            font-weight: 200
        &_Photo
            width: 40%
            height: 40%
            margin-right: 30px
            border-radius: 30px
            background: #e0e0e0
            box-shadow: 15px 15px 66px #7b7b7b
            @media screen and ( max-width: $layout-breakpoint-small )
                margin: 0
                width: 80%
    &_Language
        padding: 10px
        display: flex
        justify-content: space-around
        flex-wrap: wrap
        gap: 20px
        @media screen and ( max-width: $layout-breakpoint-tablet-max )
            flex-direction: column
            justify-content: flex-start
            width: fit-content
        &_pcontainer
            display: flex
            width: 40%
            flex-grow: 1
            margin: auto
            @media screen and ( max-width: $layout-breakpoint-tablet-max )
                display: flex
                align-items: flex-start
                background: none
                flex-grow: 0
                margin-left: 10px
            @media screen and ( min-width: $layout-breakpoint-tablet-max ) and (max-width: 1315px)
                flex-direction: column
                flex-grow: 0
            @media screen and ( max-width: 450px )
                flex-direction: column
            &_1
                text-align: left
                font-weight: bold
                white-space: nowrap
            &_2
                display: inline-flex
                align-items: center
                width: fit-content
                margin: 0
                padding: 5px
                gap: 20px
                display: flex
                flex-grow: 1
                justify-content: space-around
                @media screen and ( max-width: $layout-breakpoint-small )

                    width: 100%
                img
                    // padding: 0

@keyframes HomeGradient
    0%
        background-position: 0% 50%

    50%
        background-position: 100% 50%

    100%
        background-position: 0% 50%
