.Home
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 100%
    &_Container
        background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box
        background-size: 200% 100%
        border-radius: 20px
        width: 80%
        animation: HomeGradient 5s ease infinite
        border: 2px solid transparent
        @media screen and ( max-width: $layout-breakpoint-small )
            width: 80%
    &_Presentation
        padding: 20px
        display: flex
        align-items: center
        flex-direction: row
        @media screen and ( max-width: $layout-breakpoint-small )
            flex-direction: column
            align-items: center
        h1
            font-weight: 200
        &_Photo
            width: 40%
            height: 40%
            margin-right: 30px
            border-radius: 30px
            background: #e0e0e0
            box-shadow: 15px 15px 66px #7b7b7b
            @media screen and ( max-width: $layout-breakpoint-small )
                margin: 0
                width: 80%
    &_Language
        padding: 10px
        display: flex
        justify-content: space-around
        flex-wrap: wrap
        &_pcontainer
            display: inline-flex
            width: 40%
            height: 60px
            margin: 10px
            background: rgb(33,33,33)
            background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(130,130,130,1) 50%, rgba(33,33,33,1) 100%)
            @media screen and ( max-width: $layout-breakpoint-tablet-max )
                display: flex
                flex-direction: column
                align-items: flex-start
                min-width: fit-content
                height: fit-content
                background: none
                &_2
                    padding: 5px
                    background: rgb(33,33,33)
                    background: linear-gradient(90deg, rgba(33,33,33,1) 0%, rgba(130,130,130,1) 50%, rgba(33,33,33,1) 100%)

            p
                display: inline-flex
                align-items: center
                width: fit-content

@keyframes HomeGradient
    0%
        background-position: 0% 50%

    50%
        background-position: 100% 50%

    100%
        background-position: 0% 50%
