.Cards

    flex-wrap: wrap
    margin-top: 20px
    display: flex
    width: 100%
    &_Container
        text-decoration: none
        color: white
        background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%,#fff, #fff) border-box
        background-size: 200% 100%
        border-radius: 20px
        min-width: 40%
        margin: auto auto 30px auto
        min-height: 100px
        animation: HomeGradient 5s ease infinite
        border: 2px solid transparent
        padding: 10px
        img
            height: 200px
            border-radius: 20px
