.Home
    &_Presentation
        padding: 20px
        display: flex
        flex-direction: row
        background-color: #808080af
        border-radius: 20px
        h1
            font-weight: 200
        &_Photo
            width: 300px
            border-radius: 10px
            box-shadow: 5px 5px 3px 1px #ffffff8c
            margin-right: 30px
        &_Header
            display: flex
            justify-content: flex-end
            &_GithubLogo
                width: 50px

    &_Knowledge
        width: fit-content
        .logo
            height: 100%
            margin-right: 1rem

        .Progress
            margin: 5px
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-between
            height: 4rem
        .lngKnown
            img
                height: 3rem
                padding: 10px
                background-color: #FFF
                border-radius: 10px
